* {
    margin: 0;
}


/* main page */

.main-pic {
    width: 100%;
    height: 650px;
    position: absolute;
}

.main-back {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 650px;
    position: relative;
}


/*MENU*/

.all-search-menu {
    width: 100%;
    position: relative;
    z-index: 4;
}

.menu {
    width: 100%;
    height: 46px;
    background: rgba(14, 3, 3, 0.884);
    position: relative;
}

.search-back {
    width: 100%;
    height: 70px;
    background: rgb(131, 119, 119);
    position: relative;
    display: none;
    z-index: 3;
}

#search {
    max-width: 100%;
    width: 400px;
    height: 35px;
    background: rgb(14, 3, 3);
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
    background: transparent;
    border: none;
    padding: 1%;
    z-index: 3;
}

#search-icon {
    color: yellow;
    position: relative;
    z-index: 3;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    margin-right: 20px;
    float: right;
}

#light {
    font-size: 20px;
    cursor: pointer;
    color: yellow;
    position: absolute;
    z-index: 3;
    padding: 1%;
}

.back-light {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.back-light2 {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.log {
    width: 150px;
    height: 50px;
    float: right;
    color: red;
    position: relative;
    margin-top: 10px;
    z-index: 3;
}

.log a:hover {
    color: green;
    transition: all ease 1s;
}

body:hover .log a {
    transition: all ease 1s;
}

#times {
    cursor: pointer;
}

#result {
    max-width: 50%;
    width: 400px;
    height: 150px;
    background: rgba(179, 168, 168, 0.699);
    position: absolute;
    border-radius: 0 0 7px 7px;
    display: none;
    z-index: 4;
    padding: 0 1%;
}

ul {
    list-style: none;
    position: relative;
    display: inline;
    z-index: 3;
}

li {
    height: 17px;
    padding: 1%;
    float: left;
    color: red;
}

.li li:hover {
    font-size: 17px;
    transition: all ease 1s;
    color: rgb(30, 209, 30);
    border-radius: 7px;
}

.li ul:hover {
    transition: all ease 1s;
}

body:hover li {
    transition: all ease 1s;
}

.res-menu {
    width: 300px;
    height: 500px;
    background: rgba(100, 88, 88, 0.774);
    position: relative;
    float: right;
    z-index: 5;
    border-radius: 0 0 0 8px;
    right: -300px;
    display: none;
}

#search2 {
    background: transparent;
    border: none;
    width: 200px;
    padding: 5%;
}

#result2 {
    width: 300px;
    min-height: 70px;
    background: rgb(197, 142, 151);
    border-radius: 0 0 7px 7px;
    padding: 2%;
    display: none;
}

#times2 {
    cursor: pointer;
    margin-left: 20px;
}

.li2 {
    display: block;
    float: left;
    z-index: 5;
}

.li2 li {
    padding: 10% 0.5%;
}

#bars {
    color: red;
    z-index: 3;
    cursor: pointer;
    position: relative;
    float: right;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 10px;
    display: none;
}

.fade-menu {
    max-width: 1250px;
    min-height: 300px;
    background: #2d302c;
    position: relative;
    margin: 100px 50px;
}

.top-menu {
    max-width: 1250px;
    height: 50px;
    background: #201f1f;
    border-radius: 8px;
    position: relative;
}

.fade-menu-li ul {
    max-width: 80px;
}

.fade-menu-li li {
    max-width: 160px;
    position: relative;
    text-align: center;
    margin: 0 18%;
    cursor: pointer;
}

.fade-menu-li a:hover {
    color: green;
}

.fade-menu img {
    width: 80%;
    height: 350px;
    margin-top: 20px;
    margin-left: 120px;
    border-radius: 8px;
}

.fade-txt {
    color: red;
    position: relative;
    max-width: 1200px;
    min-height: 100px;
    z-index: 3;
}

.p {
    max-width: 1000px;
    min-height: 100px;
    margin: 20px 120px;
    position: relative;
    word-wrap: break-word;
}

.select {
    color: green;
}

a {
    color: red;
    text-decoration: none;
}

.slide-all {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-box {
    width: 1224px;
    height: 550px;
    overflow: hidden;
}

.slide {
    width: 500%;
    height: 100%;
    position: relative;
    left: -100%;
}

.img-box {
    width: calc(100%/5);
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.next,
.prev {
    z-index: 3;
}

.next {
    border-top: 2px solid red;
    border-right: 2px solid red;
    position: absolute;
    padding: 1.5%;
    float: right;
    right: 8%;
    transform: rotate(45deg);
    cursor: pointer;
}

.prev {
    border-top: 2px solid red;
    border-left: 2px solid red;
    position: absolute;
    padding: 1.5%;
    float: left;
    left: 8%;
    transform: rotate(-45deg);
    cursor: pointer;
}

.menu-time {
    margin-top: 50px;
    width: 100%;
    height: 1500px;
    background: rgba(37, 37, 37, 0.178);
}

.menu-time2 {
    float: right;
    max-width: 30%;
    width: 500px;
    height: 300px;
    margin: 80px 110px;
    position: relative;
    transform: translateX(-500px);
    transition: all ease 1s;
    opacity: 0;
}

.menu-time img {
    max-width: 90%;
    width: 500px;
    height: 300px;
    opacity: 0.5;
    border-radius: 5px;
}

.menu-time img:hover {
    opacity: 1;
    transition: all ease 1s;
    transform: scale(1.2);
}

body:hover .menu-time img {
    transition: all ease 1s;
}

.show {
    opacity: 1;
    transform: translateX(0);
    transition: all ease 1s;
}


/* log in page */

.login-title {
    width: 200px;
    height: 50px;
    margin: 30px auto;
    color: green;
}

.sign-in {
    max-width: 40%;
    height: 300px;
    background: rgba(40, 4, 124, 0.733);
    margin: 80px 400px;
    border-radius: 8px;
}

#username {
    max-width: 80%;
    width: 450px;
    height: 40px;
    margin: 50px;
    border-radius: 5px;
    background: rgb(103, 212, 194)
}

#password {
    max-width: 80%;
    width: 450px;
    height: 40px;
    margin: 10px 50px;
    border-radius: 5px;
    background: rgb(103, 212, 194)
}

#age {
    max-width: 80%;
    width: 450px;
    height: 40px;
    margin: 10px 50px;
    border-radius: 5px;
    background: rgb(103, 212, 194)
}

#back {
    max-width: 30%;
    width: 150px;
    height: 40px;
    background: orange;
    margin: 20px 10px;
    margin-left: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#enter {
    max-width: 30%;
    width: 250px;
    height: 40px;
    background: orange;
    float: right;
    margin: 20px 10px;
    margin-right: 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.img-back {
    max-width: 800px;
    height: 550px;
    margin: 70px 400px;
}

.img-back img {
    max-width: 70%;
    width: 350px;
    height: 350px;
    margin: 0px 100px;
    border-radius: 5px;
}

.back {
    max-width: 100%;
    width: 200px;
    height: 30px;
    background: rgba(23, 103, 207, 0.753);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    float: left;
    margin: 30px 170px;
}

.show-text {
    width: 80%;
    height: 100px;
    margin: 5px 50px;
    word-wrap: break-word;
}

.show-text {
    padding: 1%;
}


/* panel */

.prof {
    max-width: 300px;
    height: 300px;
    background: blue;
    border-radius: 200px;
    margin: 100px 100px;
}

.prof img {
    max-width: 300px;
    height: 300px;
    border-radius: 200px;
}

.h2 {
    color: purple;
    margin: 30px 500px;
}

.panel-bar {
    position: relative;
    margin: -450px 420px;
    padding: 4%;
}

.panel-bar li {
    margin: 4%;
    color: rgba(14, 124, 119, 0.76);
}

.panel-bar li:hover {
    color: green;
}

.pftxt {
    max-width: 400px;
    height: 200px;
    background: rgb(140, 0, 255);
    margin-right: 400px;
    margin-top: 450px;
    margin-left: 500px;
    word-wrap: break-word;
    padding: 1%;
}

.out li {
    float: right;
    margin-right: 30px;
    margin-top: -70px;
    color: orange;
}

.out li:hover {
    color: red;
    transition: all ease 0.7s;
}


/* members page */

.admin-box {
    max-width: 750px;
    min-height: 200px;
    margin: 50px 300px;
}

.admin-box legend {
    margin: 3%;
}

.admin-box table {
    max-width: 90%;
    width: 700px;
    background: rgb(69, 88, 255);
    margin: 10px;
    color: rgb(0, 0, 0);
    border-color: rgb(255, 30, 30);
    border-radius: 5px;
}

.member-box {
    max-width: 750px;
    min-height: 200px;
    margin: 50px 300px;
}

.member-box legend {
    margin: 3%;
}

.member-box table {
    max-width: 90%;
    width: 700px;
    background: rgb(69, 88, 255);
    margin: 10px;
    color: rgb(0, 0, 0);
    border-color: rgb(255, 30, 30);
    border-radius: 5px;
}

.del:hover {
    background: red;
}

.del a {
    color: black;
}

.ed1:hover {
    background: yellow;
}

.ed1 {
    color: black;
    width: 100%;
    height: 80px;
    border: none;
    background: transparent;
}

.back2 {
    width: 200px;
    height: 30px;
    background: rgba(54, 207, 23, 0.753);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 600px;
}


/* add admin */

.adminadd {
    max-width: 40%;
    height: 550px;
    background: rgb(69, 88, 255);
    margin: 0px auto;
    border-radius: 8px;
}

#adminsrc {
    margin-left: 50px;
}

#adminname {
    max-width: 80%;
    width: 450px;
    height: 40px;
    margin: 50px;
    border-radius: 5px;
    background: rgb(103, 212, 194)
}

#adminpassword {
    max-width: 80%;
    width: 450px;
    height: 40px;
    margin: 10px 50px;
    border-radius: 5px;
    background: rgb(103, 212, 194)
}

#add {
    max-width: 30%;
    width: 250px;
    height: 40px;
    background: orange;
    float: right;
    margin: 20px 10px;
    margin-right: 60px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}

#adminbtn {
    max-width: 30%;
    width: 250px;
    height: 40px;
    background: orange;
    float: right;
    margin: 0px 10px;
    margin-right: 60px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.admin-title {
    width: 200px;
    height: 50px;
    margin: 30px auto;
    color: green;
}


/* EDIT PAGE */

.edit-title {
    width: 150px;
    color: rgb(23, 139, 110);
    margin: auto;
    padding: 10px;
}

.tbl-menu {
    max-width: 80%;
    width: 1100px;
    margin: auto;
}

.tbl-menu legend {
    color: red;
    margin: 2% 8%;
}

.tbl-menu table {
    max-width: 90%;
    width: 1000px;
    text-align: center;
    background: lightgreen;
    border-radius: 5px;
    margin: auto;
}

.tbl-main-pic {
    max-width: 80%;
    width: 1100px;
    margin: auto;
}

.tbl-main-pic legend {
    color: red;
    margin: 2% 8%;
}

.tbl-main-pic table {
    max-width: 90%;
    width: 1000px;
    text-align: center;
    background: lightgreen;
    border-radius: 5px;
    margin: auto;
}

.tbl-fademenu-1 {
    max-width: 80%;
    width: 1100px;
    margin: auto;
}

.tbl-fademenu-1 legend {
    color: red;
    margin: 2% 8%;
}

.tbl-fademenu-1 table {
    max-width: 90%;
    width: 1000px;
    text-align: center;
    background: lightgreen;
    border-radius: 5px;
    margin: auto;
}

.tbl-fademenu-2 {
    max-width: 80%;
    width: 1100px;
    margin: auto;
}

.tbl-fademenu-2 legend {
    color: red;
    margin: 2% 8%;
}

.tbl-fademenu-2 table {
    max-width: 90%;
    width: 1000px;
    text-align: center;
    background: lightgreen;
    border-radius: 5px;
    margin: auto;
}

.tbl-slider {
    max-width: 80%;
    width: 1100px;
    margin: auto;
}

.tbl-slider legend {
    color: red;
    margin: 2% 8%;
}

.tbl-menu-time table {
    max-width: 90%;
    width: 1000px;
    text-align: center;
    background: lightgreen;
    border-radius: 5px;
    margin: auto;
}

.tbl-menu-time {
    max-width: 80%;
    width: 1100px;
    margin: auto;
}

.tbl-menu-time legend {
    color: red;
    margin: 2% 8%;
}

.tbl-slider table {
    max-width: 90%;
    width: 1000px;
    text-align: center;
    background: lightgreen;
    border-radius: 5px;
    margin: auto;
}

fieldset {
    padding: 10px;
    margin: 50px;
    border-radius: 5px;
    border-color: green;
}

fieldset input {
    max-width: 50%;
    width: 500px;
    height: 50px;
    border-radius: 1px;
    font-size: 18px;
}

#edit-main-pic {
    color: blue;
    text-align: center;
}

#title-ok {
    width: 100px;
    border-radius: 5px;
    background: yellow;
    margin: auto 100px;
    cursor: pointer;
}

#upload-btn {
    width: 100px;
    border-radius: 5px;
    background: yellow;
    margin: auto 100px;
    cursor: pointer;
}

#upload-btn2 {
    width: 100px;
    border-radius: 5px;
    background: yellow;
    margin: auto 100px;
    cursor: pointer;
}

#upload-btn3 {
    width: 100px;
    border-radius: 5px;
    background: yellow;
    margin: auto 100px;
    cursor: pointer;
}

#fade-menu-ok,
#fade-menu-ok2 {
    width: 200px;
    border-radius: 5px;
    background: yellow;
    margin: auto 50px;
    cursor: pointer;
}

#send-photo {
    width: 200px;
    border-radius: 5px;
    background: yellow;
    margin: auto 50px;
    cursor: pointer;
}

#fade-pic,
#fade-pic2 {
    width: 200px;
    border-radius: 5px;
    background: yellow;
    margin: auto 50px;
    cursor: pointer;
}

#send-photo3 {
    width: 200px;
    border-radius: 5px;
    background: yellow;
    margin: auto 50px;
    cursor: pointer;
}

.edit-back {
    float: right;
    margin: 0 50px;
}


/* sign up page */

.acount {
    color: rgb(3, 1, 3);
    padding: 50px;
}

.sign-up {
    max-width: 40%;
    height: 420px;
    background: rgba(40, 4, 124, 0.733);
    margin: 80px 400px;
    border-radius: 8px;
}

.logout-btn {
    float: right;
    margin: -10px 70px;
}