@media(max-width:1300px) {
    .menu-time2 {
        margin: 80px 100px;
    }
    .img-back img {
        margin: 0px 90px;
    }
    .back {
        margin: 30px 140px;
    }
    .h2 {
        margin: 30px 450px;
    }
    .panel-bar {
        margin: -450px 370px;
    }
    .pftxt {
        margin-left: 450px;
    }
    .back2 {
        margin-right: 550px;
    }
}

@media(max-width:1200px) {
    .menu-time2 {
        margin: 80px 80px;
    }
    .img-back {
        margin: 70px 350px;
    }
    .img-back img {
        margin: 0px 70px;
    }
    .h2 {
        margin: 30px 350px;
    }
    .panel-bar {
        margin: -450px 330px;
    }
    .pftxt {
        margin-left: 450px;
        margin-right: 320px;
    }
    .back2 {
        margin-right: 480px;
    }
    #add {
        margin-right: 50px;
    }
    #enter {
        margin-right: 50px;
    }
}

@media(max-width:1100px) {
    .fade-menu-li li {
        margin: 0 17%;
    }
    .menu-time2 {
        margin: 80px 80px;
    }
    .sign-in {
        margin: 80px 300px;
    }
    .adminadd {
        margin: 80px 300px;
    }
    .img-back {
        margin: 70px 300px;
    }
    .img-back img {
        margin: 0px 80px;
    }
    .back {
        margin: 30px 170px;
    }
    .h2 {
        margin: 30px 330px;
    }
    .panel-bar {
        margin: -420px 50px;
        margin-left: 270px;
        padding: 3% 14%;
    }
    .pftxt {
        margin-left: 450px;
        margin-right: 280px;
    }
    .back2 {
        margin-right: 450px;
    }
}

@media(max-width:1000px) {
    .fade-menu-li li {
        margin: 0 15%
    }
    .menu-time2 {
        margin: 80px 50px;
    }
    #username {
        margin: 50px 40px;
    }
    #password {
        margin: 10px 40px;
    }
    #adminname {
        margin: 50px 40px;
    }
    #adminpassword {
        margin: 10px 40px;
    }
    .img-back {
        margin: 70px 200px;
    }
    .h2 {
        font-size: 20px;
        margin: 30px 300px;
    }
    .prof {
        max-width: 230px;
        height: 230px;
        margin: 80px 80px;
    }
    .panel-bar {
        margin: -420px 50px;
        margin-left: 240px;
        padding: 3% 14%;
    }
    .pftxt {
        margin-left: 400px;
        margin-right: 230px;
    }
    .back2 {
        width: 150px;
        margin-right: 420px;
    }
    .admin-title {
        margin: 30px 370px;
    }
    .login-title {
        margin: 30px 370px;
    }
}

@media(max-width:950px) {
    .back2 {
        margin-right: 370px;
    }
}

@media(max-width:900px) {
    .fade-menu img {
        width: 70%;
    }
    .fade-menu-li li {
        margin: 0 14%;
    }
    .sign-in {
        max-width: 80%;
        margin: 80px 200px;
    }
    #password {
        margin: 10px 40px;
    }
    .adminadd {
        max-width: 80%;
        margin: 80px 200px;
    }
    #adminpassword {
        margin: 10px 40px;
    }
    .img-back {
        margin: 70px 150px;
    }
    .h2 {
        margin: 30px 270px;
    }
    .panel-bar {
        margin: -400px 0px;
        margin-left: 200px;
        padding: 8% 15%;
    }
    .pftxt {
        margin-left: 380px;
        margin-right: 180px;
        margin-top: 400px;
    }
    .out li {
        font-size: 15px;
    }
    .admin-box {
        margin-left: 250px;
    }
    .member-box {
        margin-left: 250px;
    }
    .back2 {
        width: 120px;
        margin-right: 400px;
    }
    .admin-title {
        margin: 30px 330px;
    }
    .login-title {
        margin: 30px 330px;
    }
    #upload-btn {
        margin: 20px 100px;
    }
    #upload-btn2 {
        margin: 20px 100px;
    }
    #upload-btn3 {
        margin: 20px 100px;
    }
}

@media(max-width:850px) {
    .back2 {
        margin-right: 350px;
    }
}

@media(max-width:800px) {
    .fade-menu-li li {
        margin: 0 13%;
    }
    .menu-time2 {
        margin: 70px 50px;
    }
    .res-menu {
        right: -300px;
    }
    #username {
        margin: 50px 30px;
    }
    #password {
        margin: 10px 30px;
    }
    .img-back {
        margin: 70px 120px;
    }
    .h2 {
        font-size: 18px;
        margin: 30px 220px;
    }
    .prof {
        max-width: 200px;
        height: 200px;
        margin: 50px 50px;
    }
    .panel-bar {
        margin: -320px 0px;
        margin-left: 150px;
        padding: 8% 14%;
    }
    .pftxt {
        margin-left: 300px;
        margin-right: 170px;
        margin-top: 300px;
    }
    .admin-box {
        margin-left: 220px;
    }
    .member-box {
        margin-left: 220px;
    }
    .back2 {
        width: 100px;
        margin-right: 330px;
    }
    #adminname {
        margin: 50px 30px;
    }
    #adminpassword {
        margin: 10px 30px;
    }
    .admin-title {
        margin: 30px 280px;
    }
    .login-title {
        margin: 30px 280px;
    }
}

@media(max-width:750px) {
    .back2 {
        margin-right: 320px;
    }
}

@media(max-width:700px) {
    .li li {
        display: none;
    }
    #search-icon {
        display: none;
    }
    #bars {
        display: block;
    }
    #light {
        margin-left: -20px;
    }
    .back-light2 {
        z-index: 0;
    }
    .fade-menu img {
        width: 60%;
    }
    .fade-menu-li li {
        margin: 0 12%;
    }
    .menu-time img {
        height: 250px;
    }
    .menu-time {
        height: 1300px;
    }
    .sign-in {
        margin: 80px 150px;
    }
    .adminadd {
        margin: 80px 150px;
    }
    .img-back {
        margin: 70px 100px;
    }
    .back {
        margin: 30px 120px;
    }
    .h2 {
        margin: 30px 170px;
    }
    .panel-bar {
        margin: -320px 0px;
        margin-left: 150px;
        padding: 8% 10%;
        font-size: 14px;
    }
    .pftxt {
        height: 150px;
        margin-left: 270px;
        margin-right: 140px;
        margin-top: 300px;
    }
    .out li {
        font-size: 12px;
    }
    .admin-box {
        margin-left: 180px;
    }
    .member-box {
        margin-left: 180px;
    }
    .back2 {
        margin-right: 280px;
    }
    .admin-title {
        margin: 30px 250px;
    }
    .login-title {
        margin: 30px 250px;
    }
    fieldset input {
        max-width: 90%;
        width: 200px;
    }
}

@media(max-width:650px) {
    .back2 {
        margin-right: 240px;
    }
}

@media(max-width:600px) {
    .fade-menu img {
        width: 50%;
        margin-left: 100px;
    }
    .fade-menu-li li {
        margin: 0 9%;
    }
    .menu-time2 {
        margin: 60px 40px;
    }
    #back {
        margin-left: 20px;
    }
    #enter {
        margin-right: 20px;
    }
    #add {
        margin-right: 40px;
    }
    .img-back {
        margin: 70px 80px;
    }
    .img-back img {
        margin: 0px 50px;
    }
    .back {
        width: 150px;
        margin: 30px 100px;
    }
    .show-text {
        margin: 5px 30px;
    }
    .h2 {
        margin: 30px 120px;
        font-size: 18px;
    }
    .prof {
        max-width: 150px;
        height: 150px;
        margin: 50px 50px;
    }
    .panel-bar {
        margin: -320px 0px;
        margin-left: 140px;
        padding: 20% 7%;
        font-size: 12px;
    }
    .pftxt {
        height: 100px;
        margin-left: 220px;
        margin-right: 120px;
        margin-top: 250px;
    }
    .admin-box {
        margin-left: 120px;
    }
    .member-box {
        margin-left: 120px;
    }
    .back2 {
        margin-right: 240px;
    }
    #add {
        margin-right: 30px;
    }
    #add {
        margin-right: 20px;
    }
    .admin-title {
        margin: 30px 200px;
    }
    .login-title {
        margin: 30px 200px;
    }
}

@media(max-width:550px) {
    .back2 {
        margin-right: 180px;
    }
    .admin-title {
        margin: 30px 170px;
    }
    .login-title {
        margin: 30px 170px;
    }
}

@media(max-width:500px) {
    .fade-menu img {
        width: 40%;
        height: 200px;
        margin-left: 100px;
    }
    .fade-menu-li li {
        margin: 0 5%;
        font-size: 14px;
    }
    .p {
        margin: 20px 80px;
    }
    .menu-time2 {
        margin: 20px 30px;
    }
    .menu-time img {
        height: 200px;
    }
    .menu-time {
        height: 1000px;
    }
    .sign-in {
        margin: 80px 100px;
    }
    .adminadd {
        margin: 80px 100px;
    }
    .back {
        margin: 30px 70px;
    }
    .h2 {
        margin: 30px 90px;
    }
    .panel-bar {
        margin: -320px 0px;
        margin-left: 270px;
        padding: 25% 12%;
        font-size: 14px;
    }
    .panel-bar li {
        padding: 0 1%;
    }
    .pftxt {
        height: 100px;
        margin-left: 120px;
        margin-right: 100px;
        margin-top: 380px;
    }
    .admin-box {
        margin-left: 60px;
    }
    .member-box {
        margin-left: 60px;
    }
    .back2 {
        margin-right: 200px;
    }
}

@media(max-width:400px) {
    .fade-menu-li li {
        margin: 0 4%;
        font-size: 10px;
    }
    .fade-menu img {
        width: 35%;
        height: 200px;
        margin-left: 80px;
    }
    .fade-menu {
        min-height: 80px;
    }
    .p {
        margin: 20px 60px;
        font-size: 15px;
    }
    .sign-in {
        margin: 80px 40px;
    }
    .adminadd {
        margin: 80px 40px;
    }
}

@media(max-width:300px) {
    .fade-menu-li li {
        margin: 0 3%;
        font-size: 9px;
    }
    .fade-menu img {
        width: 40%;
        height: 170px;
        margin-left: 50px;
    }
    .fade-menu {
        min-height: 50px;
    }
    .p {
        margin: 20px 40px;
        font-size: 12px;
    }
}