@media(max-width:1300px) {
    .menu-time li {
        margin: 80px 100px;
    }
}

@media(max-width:1200px) {
    .menu-time li {
        margin: 80px 80px;
    }
}

@media(max-width:1100px) {
    .fade-menu-li li {
        margin: 0 17%;
    }
    .menu-time li {
        margin: 80px 80px;
    }
}

@media(max-width:1000px) {
    .fade-menu-li li {
        margin: 0 15%
    }
    .menu-time li {
        margin: 80px 50px;
    }
}

@media(max-width:900px) {
    .fade-menu img {
        width: 70%;
    }
    .fade-menu-li li {
        margin: 0 14%;
    }
}

@media(max-width:800px) {
    .fade-menu-li li {
        margin: 0 13%;
    }
    .menu-time li {
        margin: 70px 50px;
    }
    .res-menu {
        right: -300px;
    }
}

@media(max-width:700px) {
    .li li {
        display: none;
    }
    #search-icon {
        display: none;
    }
    #bars {
        display: block;
    }
    #light {
        margin-left: -20px;
    }
    .back-light2 {
        z-index: 5;
    }
    .fade-menu img {
        width: 60%;
    }
    .fade-menu-li li {
        margin: 0 12%;
    }
    .menu-time img {
        height: 250px;
    }
}

@media(max-width:600px) {
    .fade-menu img {
        width: 50%;
        margin-left: 100px;
    }
    .fade-menu-li li {
        margin: 0 9%;
    }
    .menu-time li {
        margin: 60px 40px;
    }
}

@media(max-width:500px) {
    .fade-menu img {
        width: 40%;
        height: 200px;
        margin-left: 100px;
    }
    .fade-menu-li li {
        margin: 0 5%;
        font-size: 14px;
    }
    .p {
        margin: 20px 80px;
    }
    .menu-time li {
        margin: 20px 30px;
    }
    .menu-time img {
        height: 200px;
    }
}

@media(max-width:400px) {
    .fade-menu-li li {
        margin: 0 4%;
        font-size: 10px;
    }
    .fade-menu img {
        width: 35%;
        height: 200px;
        margin-left: 80px;
    }
    .fade-menu {
        min-height: 80px;
    }
    .p {
        margin: 20px 60px;
        font-size: 15px;
    }
}

@media(max-width:300px) {
    .fade-menu-li li {
        margin: 0 3%;
        font-size: 9px;
    }
    .fade-menu img {
        width: 40%;
        height: 170px;
        margin-left: 50px;
    }
    .fade-menu {
        min-height: 50px;
    }
    .p {
        margin: 20px 40px;
        font-size: 12px;
    }
}